.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20rem;
  justify-content: center;
  align-items: center;
  height: 100%; }

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%; }

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%; }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%; }

.grid-container {
  display: grid;
  gap: 2rem; }

.grid-col {
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 3rem;
  overflow: visible; }

.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: #333; }

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1.6rem;
  background: #ff5925;
  color: #fff;
  border: none;
  border-radius: 1rem;
  position: relative;
  transition: all 2s;
  overflow: hidden; }
  .btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #06aaac;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.3s; }
  .btn:hover:before {
    transform: translateX(0); }

.btn-1 {
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  background: #06aaac;
  color: #fff;
  border: none;
  border-radius: 1rem;
  position: relative;
  transition: all;
  overflow: hidden; }
  .btn-1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ff5925;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 0.3s; }
  .btn-1:hover:before {
    transform: translateX(0); }

.seo {
  background: #f6f6f6;
  padding: 5rem 0; }
  .seo__title {
    margin: 0 auto; }
    .seo__title h2 {
      color: #333;
      font-size: 4.5rem;
      text-align: left; }
    .seo__title h3 {
      color: #333;
      font-size: 2.5rem;
      text-align: left; }
  .seo .bold {
    color: #ff5925;
    font-weight: 600; }

.seo .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem; }

.seo__widget {
  padding: 3rem 2rem;
  -webkit-box-shadow: 5px 5px 18px -3px rgba(0, 0, 0, 0.47);
  box-shadow: 5px 5px 18px -3px rgba(0, 0, 0, 0.47);
  margin: 0 auto; }

.seo .card {
  padding: 5rem; }

#so-form {
  margin: 3rem; }

label {
  color: #fff;
  font-size: 1.4rem; }

.so-title {
  font-size: 1.8rem;
  color: #fff; }

.so-widget-form {
  background-color: #ff5925; }

.so-fieldso1622176203 {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  color: #565656;
  padding: 7px 12px;
  font-size: 18px;
  height: 45px;
  width: 100%;
  display: block;
  margin-top: 15px; }

#so-submitso1622176203 {
  background-color: #0d9893;
  border: 1px solid #0d9893;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  font-size: 19px;
  display: block;
  padding: 8px 50px;
  margin: 5px auto;
  margin-top: 5rem; }

#so-consentso1622176203 input {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  top: 6px; }

#so-consentso1622176203 input:active,
#so-consentso1622176203 input:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

#so-consentso1622176203 input:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7; }

#so-consentso1622176203 input:checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7; }

#so-consentso1622176203 span {
  font-size: 1.4rem;
  color: #565656;
  margin-left: 1.5rem;
  color: #fff; }

.headings {
  padding: 10rem 2rem;
  position: relative; }
  .headings__text {
    color: #333; }
    .headings__text--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400; }
    .headings__text--subtitle {
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: 400;
      max-width: 70%;
      margin: 0 auto; }
    .headings__text--subtitle {
      font-weight: 400; }

.cta {
  background: linear-gradient(to right, rgba(6, 170, 172, 0.9), darkcyan), url(../images/website-5552822_1920.png) no-repeat center;
  color: #fff;
  padding: 10rem 1rem;
  position: relative; }
  .cta h2 {
    font-size: 4rem;
    font-weight: 400; }
  .cta h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 1rem 0; }

.cta::before,
.cta::after {
  content: "";
  position: absolute;
  height: 10rem;
  bottom: -7rem;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(9deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg); }

.contact__container {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.showcase-contact {
  padding: 10rem 2rem;
  height: 55rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../images/background-image-4.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 93%, 0 100%, 0% 70%, 0% 35%, 0 0); }
  .showcase-contact__text {
    color: white;
    text-align: center; }
    .showcase-contact__text--title {
      padding: 5rem 0 0;
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400; }
    .showcase-contact__text--subtitle {
      font-size: 3.5rem;
      text-align: center; }

.contact {
  position: relative;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.contact-form {
  position: relative;
  width: calc(100% - 40rem); }

.contact-form form {
  width: 100%; }

.contact-form .row {
  width: 100%;
  display: flex; }

.contact-form .input50 {
  width: 100%;
  margin: 0 1rem; }

.contact-form .input100 {
  width: 100%;
  margin: 0 1rem; }

.contact-form .row input,
.contact-form .row textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #111;
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  outline: none;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0;
  resize: none; }

.contact-form .row textarea {
  height: 15rem; }

.contact-form .row input[type="submit"] {
  background-color: #ff5925;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  border: 0;
  cursor: pointer; }

.contact-info {
  padding: 6rem 0; }
  .contact-info p {
    font-weight: 400; }

.contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4rem; }

.contact-info .info-box .contact-icon {
  width: 5rem;
  margin-right: 4rem; }

.contact-info .info-box .details h4 {
  color: #333;
  font-size: 1.6rem; }

.contact-info .info-box .details p,
.contact-info .info-box .details a {
  color: #111; }

.web-design-container {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 2.5rem; }

.showcase-web-design {
  padding: 10rem 2rem;
  height: 60rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/productivity-1995786_1920.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 93%, 0 100%, 0% 70%, 0% 35%, 0 0); }
  .showcase-web-design__text {
    color: white;
    text-align: center; }
    .showcase-web-design__text--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400; }
    .showcase-web-design__text--subtitle {
      font-size: 3.5rem;
      text-align: center; }
  .showcase-web-design__form {
    height: 40rem;
    width: 40rem;
    padding: 4rem;
    z-index: 100;
    justify-self: flex-end; }

.left-main {
  padding: 0 3rem; }
  .left-main p {
    font-weight: 400;
    font-size: 1.6rem; }
  .left-main img {
    width: 100%; }

.right-col p {
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem; }

.right-col iframe {
  width: 100%; }

.banner__fiverr img, .banner__hostgator img {
  width: 100%;
  height: auto; }

.web-design-container {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 2.5rem; }

.showcase-search-engine {
  padding: 10rem 2rem;
  height: 60rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(../images/2380.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 93%, 0 100%, 0% 70%, 0% 35%, 0 0); }
  .showcase-search-engine__text {
    color: white;
    text-align: center; }
    .showcase-search-engine__text--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400; }
    .showcase-search-engine__text--subtitle {
      font-size: 3.5rem;
      text-align: center; }
  .showcase-search-engine__form {
    height: 40rem;
    width: 40rem;
    padding: 4rem;
    z-index: 100;
    justify-self: flex-end; }

.left-main {
  padding: 0 3rem; }
  .left-main p {
    font-weight: 400;
    font-size: 1.6rem; }
  .left-main img {
    width: 100%; }

.right-col p {
  text-align: center;
  font-weight: 400;
  font-size: 1.6rem; }

.banner__fiverr img, .banner__hostgator img {
  width: 100%;
  height: auto; }

.left-side img {
  width: 100%; }

.ecommerce-container {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 2.5rem; }

.showcase-ecommerce {
  padding: 10rem 2rem;
  height: 60rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(../images/ecommerce-1.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 93%, 0 100%, 0% 70%, 0% 35%, 0 0); }

.ecommerce-images img {
  display: block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem; }

.showcase {
  padding: 10rem 2rem;
  height: 55rem;
  background: url(../images/background-1.jpg);
  position: relative; }
  .showcase__text {
    color: white; }
    .showcase__text--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400; }
    .showcase__text--subtitle {
      font-size: 2rem; }
  .showcase__form {
    position: relative;
    top: 5rem;
    height: 40rem;
    width: 40rem;
    padding: 4rem;
    z-index: 100;
    justify-self: flex-end; }

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 10rem;
  bottom: -7rem;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg); }

.showcase .grid {
  grid-template-columns: 55% 30%;
  overflow: visible; }

.showcase__form .form-control {
  margin: 3rem 0; }
  .showcase__form .form-control input[type="text"],
  .showcase__form .form-control input[type="Email"],
  .showcase__form .form-control input[type="Phone"] {
    border: 0;
    border-bottom: 1px solid #777;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.5rem; }
  .showcase__form .form-control input:focus {
    outline: none; }

.main-header {
  position: fixed;
  display: flex;
  background: #ff5925;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  padding: 0 10vh;
  color: white;
  z-index: 1000;
  transition: 0.4s ease-out; }
  .main-header .logo {
    margin-top: 1rem; }
  .main-header .nav-links {
    display: flex;
    list-style: none; }
    .main-header .nav-links .nav-link,
    .main-header .nav-links .nav-link__contact {
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .main-header .nav-links .nav-link:nth-of-type(2),
      .main-header .nav-links .nav-link__contact:nth-of-type(2) {
        transition-delay: 0.1s; }
      .main-header .nav-links .nav-link:nth-of-type(3),
      .main-header .nav-links .nav-link__contact:nth-of-type(3) {
        transition-delay: 0.2s; }
      .main-header .nav-links .nav-link:nth-of-type(4),
      .main-header .nav-links .nav-link__contact:nth-of-type(4) {
        transition-delay: 0.3s; }
      .main-header .nav-links .nav-link a,
      .main-header .nav-links .nav-link__contact a {
        margin: 0.2rem;
        padding: 1rem 0.5rem;
        position: relative;
        display: block; }
      .main-header .nav-links .nav-link a:before,
      .main-header .nav-links .nav-link__contact a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: scaleX(0);
        transition: all 0.5s;
        transform-origin: left; }
      .main-header .nav-links .nav-link a:hover:before,
      .main-header .nav-links .nav-link a:hover:after,
      .main-header .nav-links .nav-link__contact a:hover:before,
      .main-header .nav-links .nav-link__contact a:hover:after {
        transform: scaleX(1); }
      .main-header .nav-links .nav-link a:after,
      .main-header .nav-links .nav-link__contact a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: scaleX(0);
        transition: all 0.5s;
        transform-origin: right; }
  .main-header .nav-link__contact {
    background-color: #06aaac;
    border-radius: 1rem;
    padding: 0 2rem; }
  .main-header .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none; }
    .main-header .menu-icon__line {
      display: block;
      position: relative;
      background: #000;
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background 0.8s ease; }
      .main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: #000;
        transition: background 0.8s ease; }
      .main-header .menu-icon__line::before {
        transform: translateY(-5px); }
      .main-header .menu-icon__line::after {
        transform: translateY(5px); }
  .main-header .menu-btn {
    position: absolute;
    top: -100px; }
    .main-header .menu-btn:focus ~ .menu-icon .menu-icon__line ::before {
      transform: translateY(-7px); }
    .main-header .menu-btn:focus ~ .menu-icon .menu-icon__line ::after {
      transform: translateY(7px); }
  .main-header.scrolled {
    height: 110px;
    background: #333;
    color: #fff;
    opacity: 0.7;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.56);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.56); }
    .main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
      background: #ffffff; }

@media screen and (max-width: 771px) {
  .main-header .menu-icon {
    display: block; }
    .main-header .menu-icon__line {
      animation: close 0.8s backwards;
      animation-direction: reverse; }
      .main-header .menu-icon__line::before {
        animation: closeTop 0.8s backwards;
        animation-direction: reverse; }
      .main-header .menu-icon__line::after {
        animation: closeBtm 0.8s backwards;
        animation-direction: reverse; }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #fff;
    background: #222;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    clip-path: circle(200px at top right); }
    .main-header .nav-links .nav-link {
      opacity: 0;
      transform: translateX(100%);
      width: 100%;
      text-align: center; }
      .main-header .nav-links .nav-link a {
        display: block;
        padding: 2rem 0; }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center); }
    .main-header .menu-btn:checked ~ .nav-links .nav-link {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(1) {
        transition: 0.7s; }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(2) {
        transition: 0.8s; }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(3) {
        transition: 0.9s; }
      .main-header .menu-btn:checked ~ .nav-links .nav-link:nth-of-type(4) {
        transition: 1s; }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s; }
    .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
      background: #fff;
      animation: openMid 0.8s forwards; }
      .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
        background: #fff;
        animation: openTop 0.8s forwards; }
      .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
        background: #fff;
        animation: openBtm 0.8s forwards; }
  .grid,
  .showcase .grid {
    grid-template-columns: 1fr; }
  .showcase,
  .showcase-web-design,
  .showcase-contact,
  .showcase-search-engine {
    padding-top: 30rem 0.5rem;
    height: auto; }
    .showcase__form,
    .showcase-web-design__form,
    .showcase-contact__form,
    .showcase-search-engine__form {
      height: auto;
      width: 100%;
      z-index: 100;
      margin-top: -15rem; }
    .showcase__text,
    .showcase-web-design__text,
    .showcase-contact__text,
    .showcase-search-engine__text {
      margin-top: 10rem; }
      .showcase__text--title,
      .showcase-web-design__text--title,
      .showcase-contact__text--title,
      .showcase-search-engine__text--title {
        font-size: 3.5rem; }
      .showcase__text--subtitle,
      .showcase-web-design__text--subtitle,
      .showcase-contact__text--subtitle,
      .showcase-search-engine__text--subtitle {
        font-size: 1.6rem; } }

@media screen and (max-width: 1485px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem; } }

@media screen and (max-width: 771px) {
  .services h1 {
    font-size: 3.5rem; }
  .services h2 {
    font-size: 2rem; }
  .grid-4 {
    grid-template-columns: 1fr;
    gap: 2rem; }
  .grid-col {
    grid-template-columns: 1fr;
    gap: 2rem; }
  .right-col {
    padding: 0 1.5rem;
    margin: 0 auto; } }

.service__card {
  padding: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

@media screen and (max-width: 1153px) {
  .seo .grid {
    grid-template-columns: 1fr;
    gap: 20rem; }
  .seo__widget {
    padding: 1rem;
    margin-top: -15rem; } }

@media screen and (max-width: 771px) {
  .seo {
    background: #f6f6f6; }
    .seo__title {
      margin: 0 auto; }
      .seo__title h2 {
        font-size: 3rem;
        text-align: center; }
      .seo__title h3 {
        color: #333;
        font-size: 1.9rem;
        text-align: center; } }

@media screen and (max-width: 771px) {
  .headings__text {
    color: #333; }
    .headings__text--title {
      font-size: 3.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400;
      padding: 0 1rem; }
    .headings__text--subtitle {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 400;
      max-width: 70%;
      margin: 0 auto; }
    .headings__text--subtitle {
      font-weight: 400; }
  .left-main {
    padding: 0 0.5rem; }
    .left-main p {
      font-weight: 400;
      font-size: 1.6rem; }
  .cta h2 {
    font-size: 3.5rem; }
  .portfolio .grid-2 {
    grid-template-columns: 1fr;
    gap: 5rem;
    overflow: visible; }
  .contact .grid-2 {
    grid-template-columns: 1fr;
    gap: 5rem;
    overflow: visible; }
  .feature__img {
    width: 90%;
    margin: 0 auto; }
  .footer .grid-3 {
    grid-template-columns: 1fr;
    gap: 5rem;
    overflow: visible; }
  .services .grid-3 {
    grid-template-columns: 1fr;
    overflow: visible; }
  .grid-2 {
    grid-template-columns: 1fr;
    gap: 5rem;
    overflow: visible; }
  .service {
    padding-left: 2rem; }
    .service li {
      margin-bottom: 1rem; }
  .social {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: left; }
  .footer__social i {
    font-size: 0.5rem; }
  .contact {
    flex-direction: column; }
  .contact-form {
    width: 100%; }
  .contact-form .row {
    flex-direction: column; }
  .contact-info .details {
    width: 100%;
    margin: 0 auto; }
  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0; }
  .info-box {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem; } }

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6); }
  to {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0); } }

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes openMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes closeTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes closeMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes closeBtm {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

.submittion {
  height: 100vh;
  background: url(../images/background-3.jpg);
  display: flex;
  justify-content: center;
  align-items: center; }
  .submittion__text {
    color: white;
    height: auto;
    margin-top: 10rem; }
    .submittion__text--title {
      font-size: 3rem;
      letter-spacing: 0.2rem;
      font-weight: 400; }
    .submittion__text--subtitle {
      font-size: 2rem; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "lato", sans-serif;
  color: #333;
  line-height: 1.6;
  letter-spacing: 0.8px; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  overflow: auto;
  padding: 0 2rem; }

.feature__container {
  max-width: 155rem;
  margin: 0 auto;
  padding: 0 2rem; }

.ul {
  list-style-type: none; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
  letter-spacing: 0.2rem; }

h1 {
  font-weight: 400;
  line-height: 1.2;
  margin: 0.5rem 0;
  font-size: 4rem; }

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 0; }

h3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 2rem 0;
  font-size: 2.2rem; }

p {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 300; }

img {
  width: 100%; }

.m-top-1 {
  margin-top: 10rem; }

.m-top-2 {
  margin-top: 8rem; }

.m-top-3 {
  margin-top: 6rem; }

.m-top-4 {
  margin-top: 4rem; }

.m-top-5 {
  margin-top: 2rem; }

.m-top-6 {
  margin-top: 1rem; }

.m-bottom-1 {
  margin-bottom: 10rem; }

.m-bottom-2 {
  margin-bottom: 8rem; }

.m-bottom-3 {
  margin-bottom: 6rem; }

.m-bottom-4 {
  margin-bottom: 4rem; }

.m-bottom-5 {
  margin-bottom: 2rem; }

.m-bottom-6 {
  margin-bottom: 1rem; }

.p-top-1 {
  padding-top: 10rem; }

.p-top-2 {
  padding-top: 8rem; }

.p-top-3 {
  padding-top: 6rem; }

.p-top-4 {
  padding-top: 4rem; }

.p-top-5 {
  padding-top: 10rem; }

.p-top-6 {
  padding-top: 2rem; }

.p-bottom-1 {
  padding-bottom: 10rem; }

.p-bottom-2 {
  padding-bottom: 8rem; }

.p-bottom-3 {
  padding-bottom: 6rem; }

.p-bottom-4 {
  padding-bottom: 4rem; }

.p-bottom-5 {
  padding-bottom: 2rem; }

.p-bottom-6 {
  padding-bottom: 1rem; }

.t-align {
  text-align: center; }

.services span {
  color: #ff5925;
  font-weight: 600; }

.service-details {
  padding: 5rem 35px;
  background-color: #008b8b;
  background: #06aaac;
  position: relative;
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow; }
  .service-details img {
    width: 8rem;
    height: auto; }

.service__card {
  padding: 5rem 1rem;
  height: 100%;
  background: #f6f6f6;
  border-radius: 2rem;
  -webkit-box-shadow: 5px 5px 21px -3px rgba(0, 0, 0, 0.56);
  box-shadow: 5px 5px 21px -3px rgba(0, 0, 0, 0.56);
  transition: transform 0.3s ease-in-out;
  outline-offset: 0.9rem; }
  .service__card p {
    font-size: 1.5rem;
    font-weight: 400; }
  .service__card--text {
    height: 100%; }
  .service__card--text .btn {
    margin-top: 3rem;
    background-color: #008b8b; }

.portfolio {
  padding: 10rem 2rem;
  position: relative; }
  .portfolio__text {
    color: #333; }
    .portfolio__text--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400; }
    .portfolio__text--subtitle {
      font-size: 2rem;
      max-width: 70%;
      margin: 0 auto; }
    .portfolio__text--subtitle {
      font-weight: 400; }
  .portfolio .portfolio__img {
    transform: rotateX(51deg) rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow; }
    .portfolio .portfolio__img:hover {
      transform: translate3d(0px, -60px, 0px) rotateX(51deg) rotateZ(43deg);
      box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 60px 0 rgba(34, 33, 81, 0.01), 54px 54px 28px -10px rgba(34, 33, 81, 0.15); }

.portfolio__rightside p {
  font-weight: 400;
  font-size: 1.5rem; }

.portfolio .grid-2 {
  overflow: visible;
  gap: 10rem; }

.bold {
  color: #ff5925;
  font-weight: 600; }

.gallery-imgs {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem; }

.gallery-img {
  height: 20rem;
  flex-grow: 1;
  margin: 0 0 0.8rem 0.8rem;
  box-shadow: 0 1.5rem 4rem rbga(#000, 0.5);
  transition: transform 0.3s ease-in-out;
  outline-offset: 0.9rem; }

.gallery-img:hover {
  transform: translateY(-1.5rem) scale(1.03);
  outline: 0.5rem solid #06aaac; }

.gallery-img img {
  height: 100%;
  object-fit: cover; }

.gallery-img:nth-child(4n + 1) {
  flex-basis: 25rem; }

.gallery-img:nth-child(4n + 2) {
  flex-basis: 32.5rem; }

.gallery-img:nth-child(4n + 3) {
  flex-basis: 18rem; }

.gallery-img:nth-child(4n + 4) {
  flex-basis: 38rem; }

.call-to-action {
  padding: 0 3rem; }

.right-side__contact img {
  width: 100%;
  box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(226, 104, 22, 0.25); }

.left-side__contact {
  padding: 0 2rem; }

footer {
  padding: 3rem;
  color: #fff;
  margin-top: 10rem;
  background-color: #333; }

#mc_embed_signup {
  background-color: #333;
  clear: left;
  font-size: 2.5rem;
  width: 100%;
  text-align: none; }

#mc_embed_signup form {
  padding: 0 !important; }

i {
  margin-right: 1.4rem;
  font-size: 1.9rem; }

.footer__services {
  height: 20rem;
  width: 100%;
  text-align: left; }

.button {
  font-size: 1.5rem !important;
  background-color: #ff5925 !important;
  letter-spacing: 0.5rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  height: 4rem !important;
  border-radius: 0.5rem !important;
  margin-top: 1rem !important; }

.service li {
  margin-bottom: 1rem; }

.email {
  margin-top: 2rem; }

.social {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff; }

.footer__social {
  display: flex;
  padding-bottom: 5rem;
  margin-left: 3rem; }
  .footer__social i {
    font-size: 3rem;
    transition: all 0.3s ease-in;
    cursor: pointer; }
  .footer__social i:hover {
    color: #06aaac;
    transform: scale(1.6); }
