// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "lato", sans-serif;
  color: #333;
  line-height: 1.6;
  letter-spacing: 0.8px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  overflow: auto;
  padding: 0 4rem;
}

.ul {
  list-style-type: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
  margin: 0.5rem 0;
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 0;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 2rem 0;
  font-size: 2.2rem;
}

p {
  margin: 1rem 0;
  font-size: $default-font-size;
  font-weight: 300;
}

img {
  width: 100%;
}

//Margin Top
.m-top-1 {
  margin-top: 10rem;
}
.m-top-2 {
  margin-top: 8rem;
}
.m-top-3 {
  margin-top: 6rem;
}
.m-top-4 {
  margin-top: 4rem;
}
.m-top-5 {
  margin-top: 2rem;
}
.m-top-6 {
  margin-top: 1rem;
}

//Margin Bottom

.m-bottom-1 {
  margin-bottom: 10rem;
}
.m-bottom-2 {
  margin-bottom: 8rem;
}
.m-bottom-3 {
  margin-bottom: 6rem;
}
.m-bottom-4 {
  margin-bottom: 4rem;
}
.m-bottom-5 {
  margin-bottom: 2rem;
}
.m-bottom-6 {
  margin-bottom: 1rem;
}

//Padding Top
.p-top-1 {
  padding-top: 10rem;
}
.p-top-2 {
  padding-top: 8rem;
}
.p-top-3 {
  padding-top: 6rem;
}
.p-top-4 {
  padding-top: 4rem;
}
.p-top-5 {
  padding-top: 10rem;
}
.p-top-6 {
  padding-top: 2rem;
}

//Padding Bottom
.p-bottom-1 {
  padding-bottom: 10rem;
}
.p-bottom-2 {
  padding-bottom: 8rem;
}
.p-bottom-3 {
  padding-bottom: 6rem;
}
.p-bottom-4 {
  padding-bottom: 4rem;
}
.p-bottom-5 {
  padding-bottom: 2rem;
}
.p-bottom-6 {
  padding-bottom: 1rem;
}

//Font - Text Align
.t-align {
  text-align: center;
}
