.call-to-action {
  padding: 0 3rem;
}

.right-side__contact {
  img {
    width: 100%;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      28px 28px 28px 0 rgba(226, 104, 22, 0.25);
  }
}

.left-side__contact {
  padding: 0 2rem;
}
