.portfolio {
  padding: 10rem 2rem;

  position: relative;
  // z-index: -5;

  &__text {
    color: $color-grey-text-dark;

    &--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400;
    }

    &--subtitle {
      font-size: 2rem;
      max-width: 70%;
      margin: 0 auto;
    }

    &--subtitle {
      font-weight: 400;
    }
  }

  .portfolio__img {
    width: 100%;
    margin: 0 auto;
  }
}

.portfolio__rightside {
  padding: 0 1rem;

  p {
    font-weight: 400;
    font-size: 1.6rem;
    // padding-right: 5rem;
  }
}

.portfolio .grid-2 {
  overflow: visible;
  gap: 10rem;
}

.bold {
  color: $color-primary;
  font-weight: 600;
}

//Gallery

.gallery-imgs {
  display: flex;
  flex-wrap: wrap;
  // margin-left: -0.8rem;
  padding: 0 2rem;
}

.gallery-img {
  height: 20rem;
  flex-grow: 1;
  margin: 0 0 0.8rem 0.8rem;
  // transition: transform 0.3s ease-in;
  box-shadow: 0 1.5rem 4rem rbga($color-black, 0.5);
  transition: transform 0.3s ease-in-out;
  outline-offset: 0.9rem;
}

.gallery-img:hover {
  // transform: scaleY(1.1);

  transform: translateY(-1.5rem) scale(1.03);
  outline: 0.5rem solid $color-secondary;
}

.gallery-img img {
  height: 100%;
  object-fit: cover;
}

.gallery-img:nth-child(4n + 1) {
  flex-basis: 25rem;
}

.gallery-img:nth-child(4n + 2) {
  flex-basis: 32.5rem;
}

.gallery-img:nth-child(4n + 3) {
  flex-basis: 18rem;
}

.gallery-img:nth-child(4n + 4) {
  flex-basis: 38rem;
}

//End of Gallery
