footer {
  padding: 3rem;
  color: $color-white;
  margin-top: 10rem;
  background-color: $color-grey-text-dark;
}

// Form
#mc_embed_signup {
  background-color: $color-grey-text-dark;
  clear: left;
  font-size: 2.5rem;
  width: 100%;
  text-align: none;
}

#mc_embed_signup form {
  padding: 0 !important;
}

i {
  margin-right: 2.5rem;
  font-size: 1.9rem;
}

.footer__services {
  height: 20rem;
  width: 100%;
  text-align: left;
}

.button {
  font-size: 1.5rem !important;
  background-color: $color-primary !important;
  letter-spacing: 0.5rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  height: 4rem !important;
  border-radius: 0.5rem !important;
  margin-top: 1rem !important;
}

.service {
  li {
    margin-bottom: 1rem;
  }
}

.footer__list-item a {
  li {
    color: $color-grey-text-light;
  }
}

.footer__list-item a:hover {
  color: #999;
}

.email {
  margin-top: 2rem;
}

.social {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-white;
}

.footer__social {
  display: flex;
  padding-bottom: 5rem;
  margin-left: 3rem;
  transition: transform 0.3s ease-in;

  .instagram:hover {
    color: #e94a59;
    transform: scale(1.6);
    border-radius: 0.6rem;
    background-color: $color-white;
    padding: 0.2rem 0.2rem;
  }

  .linkedin:hover {
    color: #0e72a8;
    transform: scale(1.6);
    background-color: $color-white;
    border-radius: 0.6rem;
    padding: 0.2rem 0.2rem;
  }

  .youtube:hover {
    color: #ff0000;
    transform: scale(1.6);
    background-color: $color-white;
    border-radius: 0.6rem;
    padding: 0.2rem 0.2rem;
  }
}

.footer__icons {
  text-align: center;

  img {
    width: 2.8rem;
    margin-left: 1rem;

    &:hover {
      transform: scale(1.1);
    }
  }
}
