.main-header {
  position: fixed;
  display: flex;
  background: $color-primary;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  padding: 0 10vh;
  color: $color-white;
  z-index: 1000;
  transition: 0.4s ease-out;

  .logo {
    margin-top: 1rem;
  }

  .nav-links {
    display: flex;
    list-style: none;

    .nav-link,
    .nav-link__contact {
      transition: opacity 0.4s ease-in-out,
        transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }

      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }

      &:nth-of-type(4) {
        transition-delay: 0.3s;
      }

      a {
        margin: 0.2rem;
        padding: 1rem 0.5rem;
        position: relative;
        display: block;
      }

      a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-white;
        transform: scaleX(0);
        transition: all 0.5s;
        transform-origin: left;
      }

      a:hover:before,
      a:hover:after {
        transform: scaleX(1);
      }

      a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: $color-white;
        transform: scaleX(0);
        transition: all 0.5s;
        transform-origin: right;
      }
    }
  }

  //Contact Link Btn

  .nav-link__contact {
    background-color: $color-secondary;
    border-radius: 1rem;
    padding: 0 2rem;
  }

  //Contact Link Btn

  .menu-icon {
    position: relative;
    padding: 2.6rem 1rem;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: $color-black;
      height: 0.2rem;
      width: 2rem;
      border-radius: 4px;
      transition: background 0.8s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 0.4rem;
        background: $color-black;
        transition: background 0.8s ease;
      }

      &::before {
        transform: translateY(-0.5rem);
      }

      &::after {
        transform: translateY(0.5rem);
      }
    }
  }

  .menu-btn {
    position: absolute;
    top: -10rem;

    &:focus ~ .menu-icon {
      .menu-icon__line {
        ::before {
          transform: translateY(-0.7rem);
        }

        ::after {
          transform: translateY(0.7rem);
        }
      }
    }
  }

  &.scrolled {
    height: 11rem;
    background: $color-grey-text-dark;
    color: $color-white;
    opacity: 0.7;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.56);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.56);

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: #ffffff;
      }
    }
  }
}
