.main-header {
  position: fixed;
  display: flex;
  background: $color-primary;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  padding: 0 10vh;
  color: rgb(255, 255, 255);
  z-index: 1000;
  transition: 0.4s ease-out;

  .logo {
    margin-top: 1rem;
  }

  .nav-links {
    display: flex;
    list-style: none;

    .nav-link {
      transition: opacity 0.4s ease-in-out,
        transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.3s;
      }

      a {
        margin: 0.2rem;
        padding: 1rem 0.5rem;
      }

      a:hover {
        background: rgba(236, 183, 8, 0.2);
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;

    &__line {
      display: block;
      position: relative;
      background: #000;
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background 0.8s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: #000;
        transition: background 0.8s ease;
      }

      &::before {
        transform: translateY(-5px);
      }

      &::after {
        transform: translateY(5px);
      }
    }
  }

  .menu-btn {
    position: absolute;
    top: -100px;

    &:focus ~ .menu-icon {
      .menu-icon__line {
        ::before {
          transform: translateY(-7px);
        }
        ::after {
          transform: translateY(7px);
        }
      }
    }
  }

  &.scrolled {
    height: 110px;
    background: #333;
    color: #fff;
    opacity: 0.7;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.56);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.56);

    .menu-icon {
      &__line,
      &__line::before,
      &__line::after {
        background: #ffffff;
      }
    }
  }
}
