//SHOWCASE (HERO) SECTION

@media screen and (max-width: 771px) {
  .main-header {
    .menu-icon {
      display: block;

      &__line {
        animation: close 0.8s backwards;
        animation-direction: reverse;

        &::before {
          animation: closeTop 0.8s backwards;
          animation-direction: reverse;
        }

        &::after {
          animation: closeBtm 0.8s backwards;
          animation-direction: reverse;
        }
      }
    }

    .nav-links {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 10rem 0;
      width: 100vw;
      height: 100vh;
      font-size: 2rem;
      color: #fff;
      background: #222;
      transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
      clip-path: circle(200px at top right);

      .nav-link {
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;

        a {
          display: block;
          padding: 2rem 0;
        }
      }
    }

    .menu-btn:checked ~ .nav-links {
      opacity: 1;
      clip-path: circle(100% at center);

      .nav-link {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out,
          transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:nth-of-type(1) {
          transition: 0.7s;
        }

        &:nth-of-type(2) {
          transition: 0.8s;
        }

        &:nth-of-type(3) {
          transition: 0.9s;
        }

        &:nth-of-type(4) {
          transition: 1s;
        }
      }
    }

    .menu-btn:checked ~ .menu-icon {
      border-radius: 50%;
      animation: pulse 1s;

      .menu-icon__line {
        background: #fff;
        animation: openMid 0.8s forwards;

        &::before {
          background: #fff;
          animation: openTop 0.8s forwards;
        }

        &::after {
          background: #fff;
          animation: openBtm 0.8s forwards;
        }
      }
    }
  }

  .grid,
  .showcase .grid {
    grid-template-columns: 1fr;
  }

  .showcase,
  .showcase-web-design,
  .showcase-contact,
  .showcase-search-engine,
  .showcase-ecommerce,
  .showcase-app-development,
  .showcase-maintenance {
    padding-top: 30rem 0.5rem;
    height: auto;

    &__form {
      // top: 5rem;
      height: auto;
      width: 100%;
      // padding: 4rem;
      z-index: 100;
      margin-top: -15rem;
    }

    &__text {
      margin-top: 10rem;

      &--title {
        font-size: 3.5rem;
      }

      &--subtitle {
        font-size: 1.6rem;
      }
    }
  }
}

//END OF SHOWCASE (HERO) SECTION

//SERVICE SECTION

@media screen and (max-width: 1485px) {
  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 771px) {
  .services {
    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .grid-4 {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  // Web Design Page

  .grid-col {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .right-col {
    padding: 0 1.5rem;
    margin: 0 auto;
  }
}

.service__card {
  padding: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

//END OF SERVICE SECTION

//SEO SECTION

@media screen and (max-width: 1153px) {
  .seo .grid {
    grid-template-columns: 1fr;
    gap: 20rem;
  }

  .seo__widget {
    padding: 1rem;
    margin-top: -15rem;
  }
}

@media screen and (max-width: 771px) {
  .seo {
    background: $color-grey-text-light;
    // padding: 0.5rem 0;

    &__title {
      margin: 0 auto;

      h2 {
        font-size: 3rem;
        text-align: center;
      }

      h3 {
        //   padding-left: 5rem;
        color: $color-grey-text-dark;
        font-size: 1.9rem;
        text-align: center;
      }
    }
  }
}

//END OF SEO SECTION

// FEATURES SECTION

@media screen and (max-width: 771px) {
  .headings {
    &__text {
      color: $color-grey-text-dark;

      &--title {
        font-size: 3.5rem;
        letter-spacing: 0.2rem;
        font-weight: 400;
        padding: 0 1rem;
      }

      &--subtitle {
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 400;
        max-width: 90%;
        margin: 0 auto;
      }

      &--subtitle {
        font-weight: 400;
      }
    }
  }

  //Web Design Page
  .left-main {
    padding: 0 0.5rem;

    p {
      font-weight: 400;
      font-size: 1.6rem;
    }
  }

  .cta {
    h2 {
      font-size: 3.5rem;
    }
  }

  .portfolio .grid-2 {
    grid-template-columns: 1fr;
    gap: 5rem;
    overflow: visible;
  }

  .contact .grid-2 {
    grid-template-columns: 1fr;
    gap: 5rem;
    overflow: visible;
  }

  .feature__img {
    width: 90%;
    margin: 0 auto;
  }

  .footer .grid-3 {
    grid-template-columns: 1fr;
    gap: 5rem;
    overflow: visible;
  }

  .services .grid-3 {
    grid-template-columns: 1fr;
    // gap: 5rem;
    overflow: visible;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    gap: 5rem;
    overflow: visible;
  }

  .service {
    padding-left: 2rem;

    li {
      margin-bottom: 1rem;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: left;
  }

  .footer__social {
    i {
      font-size: 0.5rem;
    }
  }

  // App Page
  li {
    margin-bottom: 1rem;
    font-size: 1.5rem;

    p {
      font-size: 1.8rem;
    }
  }

  // Maintenance Plan Section
  .maintenance-plans {
    height: 60rem;
    line-height: 1.2;
  }

  .app-image {
    width: 100%;
    margin: 0 auto;
  }

  // App Page

  // Contact Us Page

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-info .details {
    width: 100%;
    margin: 0 auto;
  }

  .contact-form .input50,
  .contact-form .input100 {
    width: 100%;
    margin: 0;
  }

  .info-box {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }
}

// END OF FEATURES SECTION
