$color-primary: #ff5925;
$color-primary-light: #ff7247;

$color-secondary: #06aaac;
$color-secondary-light: #08d5d9;
$color-secondary-dark: #008b8b;

$color-grey-text-dark: #333;
$color-grey-text-light: #f6f6f6;

$color-white: #fff;
$color-black: #111;

//FONT
$default-font-size: 1.5rem;
