// 2 Column Grid
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-container {
  display: grid;
  gap: 2rem;
}

// Web Design Section

.grid-col {
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 3rem;
  overflow: visible;
}
