// .web-design-container {
//   max-width: 135rem;
//   margin: 0 auto;
//   padding: 0 2.5rem;
// }

.showcase-app-development {
  padding: 10rem 2rem;
  height: 60rem;
  background: linear-gradient(
      to bottom,
      rgba($color-black, 0.9),
      rgba($color-black, 0.4)
    ),
    url(../images/app-dev-image.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 70%,
    100% 100%,
    50% 93%,
    0 100%,
    0% 70%,
    0% 35%,
    0 0
  );

  //   position: relative;
  // z-index: -5;

  &__text {
    color: white;
    text-align: center;

    &--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400;
    }

    &--subtitle {
      font-size: 3.5rem;
      text-align: center;
    }
  }
}

li {
  margin-bottom: 1rem;
  font-size: 1.8rem;

  p {
    font-size: 1.8rem;
  }
}

.zoom-setup__container {
  background-color: $color-grey-text-light;
  padding: 2rem 3rem;
}

.app-image {
  width: 75%;
  margin: 0 auto;

  transform: rotateX(0) rotateZ(0);
  transform-style: preserve-3d;
  border-radius: 32px;
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;

  &:hover {
    transform: translate3d(1rem, 0px, 0px) rotateX(8deg) rotateZ(8deg);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.45);
  }
}
