.ecommerce-container {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.showcase-ecommerce {
  padding: 10rem 2rem;
  height: 60rem;
  background: linear-gradient(
      to bottom,
      rgba($color-black, 0.9),
      rgba($color-black, 0.4)
    ),
    url(../images/ecommerce-1.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 70%,
    100% 100%,
    50% 93%,
    0 100%,
    0% 70%,
    0% 35%,
    0 0
  );
}

.ecommerce-images img {
  display: block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
