.web-design-container {
  max-width: 135rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.showcase-search-engine {
  padding: 10rem 2rem;
  height: 55rem;
  background: linear-gradient(
      to bottom,
      rgba($color-black, 0),
      rgba($color-black, 0.4)
    ),
    url(../images/background-3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  //   clip-path: polygon(
  //     50% 0%,
  //     100% 0,
  //     100% 35%,
  //     100% 100%,
  //     51% 90%,
  //     0 100%,
  //     0 100%,
  //     0% 70%,
  //     0% 35%,
  //     0 0
  //   );

  //   position: relative;
  // z-index: -5;

  &__text {
    color: white;
    text-align: center;

    &--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400;
    }

    &--subtitle {
      font-size: 3.5rem;
      text-align: center;
    }
  }

  &__form {
    height: 40rem;
    width: 40rem;
    padding: 4rem;
    z-index: 100;
    justify-self: flex-end;
  }
}

.left-main {
  padding: 0 3rem;
  p {
    font-weight: 400;
    font-size: 1.6rem;
  }

  img {
    width: 100%;
  }
}

.right-col {
  p {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
  }
}

.banner {
  &__fiverr,
  &__hostgator {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.left-side img {
  width: 50%;
}

.left-side {
  border-bottom: 1px solid $color-grey-text-dark;
  padding-bottom: 3rem;
}
