//SHOWCASE (HERO) SECTION
.card {
  background: $color-white;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: $color-grey-text-dark;
}

//SHOWCASE (HERO) SECTION
