.cta {
  background: linear-gradient(
      to right,
      rgba($color-secondary, 0.9),
      rgba($color-secondary-dark, 1)
    ),
    url(../images/website-5552822_1920.png) no-repeat center;
  color: $color-white;
  padding: 10rem 1rem;
  position: relative;

  h2 {
    font-size: 4rem;
    font-weight: 400;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 1rem 0;
  }
}

//Skewed background for cta
.cta::before,
.cta::after {
  content: "";
  position: absolute;
  height: 10rem;
  bottom: -7rem;
  right: 0;
  left: 0;
  background: $color-white;
  transform: skewY(9deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
