.headings {
  padding: 10rem 2rem;

  position: relative;
  // z-index: -5;

  &__text {
    color: $color-grey-text-dark;

    &--title {
      font-size: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: 400;
    }

    &--subtitle {
      font-size: 2rem;
      max-width: 70%;
      margin: 0 auto;
    }

    &--subtitle {
      font-weight: 400;
    }
  }
}
