.plans {
  background: linear-gradient(
      to bottom,
      rgba($color-black, 0.9),
      rgba($color-black, 0.8)
    ),
    url(../images/website-5582511_1920.png) no-repeat center;
  color: $color-white;
  padding: 10rem 1rem;
  position: relative;
  background-attachment: fixed;

  h2 {
    font-size: 4rem;
    font-weight: 400;
  }

  h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 1rem 0;
  }
}

//Skewed background for cta
.plans::before,
.plans::after {
  content: "";
  position: absolute;
  height: 10rem;
  bottom: -7rem;
  right: 0;
  left: 0;
  background: $color-white;
  transform: skewY(9deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

.maintenance-plans {
  p,
  h2 {
    color: $color-white;
    font-weight: 300;
    letter-spacing: 0.3rem;
    line-height: 1.4;
  }

  .btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}
